// Custom variables

// Variable overwrites
$global-danger-background: darken(#f0506e, 10%);

@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// Mixin overwrites

@import "uikit/src/scss/uikit-theme.scss";

// UIkit extended

.uk-padding-medium-horizontal {
  padding-left: $global-medium-gutter;
  padding-right: $global-medium-gutter;
}

.uk-padding-small-vertical {
  padding-top: $global-small-gutter;
  padding-bottom: $global-small-gutter;
}

.uk-margin-remove-vertical {
  margin-top: 0;
  margin-bottom: 0;
}

.uk-margin-small-vertical {
  margin-top: $global-small-gutter;
  margin-bottom: $global-small-gutter;
}

.uk-margin-xsmall-left {
  margin-left: calc($global-small-margin / 2);
}

.uk-margin-xsmall-right {
  margin-right: calc($global-small-margin / 2);
}

.uk-margin-xsmall-top {
  margin-top: calc($global-small-margin / 2);
}

.uk-margin-xsmall-bottom {
  margin-bottom: calc($global-small-margin / 2);
}

// Components

.image-icon {
  width: 20px;
  height: 20px;
}

.wrong-network {
  border-color: $global-danger-background;

  &,
  &:focus {
    color: white;
    font-weight: bold;
    background: $global-danger-background;
  }

  &:focus {
    border-color: lighten($global-danger-background, 10%);
  }
}

.connect-button {
  color: $global-primary-background;
  border: 1px solid $global-primary-background;

  &:hover {
    $color: lighten($global-primary-background, 15%);
    color: $color;
    border: 1px solid $color;
  }

  &:disabled {
    $color: desaturate(lighten($global-primary-background, 15%), 25%);
    color: $color;
    border: 1px solid $color;
  }
}
